In [2]:
import pandas as pd

In [43]:
def clean_data(df):
    years = [str(year) for year in range(1960,2000)]
    years.extend(['Unnamed: 63','Indicator Code','Indicator Name'])
    df.head()
    df = df.drop(columns=years)
    df = df.drop(index = df[df.sum(axis=1) == 0].index)
    df['Average %'] = df.mean(axis=1)
    cols = df.columns.tolist()
    cols = cols[0:2] + cols[-1:] + cols[2:-1]
    df = df[cols]
    return df

def create_data(file_loc):
    df = pd.read_csv(file_loc)
    df = clean_data(df)
    return df

In [29]:
PrimaryCompletion = pd.read_csv('Data/Primary_Completion_Rate.csv')

In [30]:
PrimaryCompletion.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Aruba,ABW,"Primary completion rate, total (% of relevant ...",SE.PRM.CMPT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,94.786102,NaN,NaN,96.570641,101.180557,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Primary completion rate, total (% of relevant ...",SE.PRM.CMPT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,"Primary completion rate, total (% of relevant ...",SE.PRM.CMPT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,39.806419,46.086109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
PrimaryCompletion = clean_data(PrimaryCompletion)

In [39]:
PrimaryCompletion.shape

(228, 22)

In [38]:
ChildEmploymentF = pd.read_csv('Data/Child_Employment_Female.csv')
ChildEmploymentF = clean_data(ChildEmploymentF)
ChildEmploymentF.shape

(97, 22)

In [40]:
ChildEmploymentM = pd.read_csv('Data/Child_Employment_Male.csv')
ChildEmploymentM = clean_data(ChildEmploymentM)
ChildEmploymentM.shape

(97, 22)

In [49]:
GovExpend = create_data('Data/Government_Expenditure.csv')
GovExpend.shape

(209, 22)

In [47]:
PopDense = create_data('Data/Population_Density.csv')
PopDense.shape

(261, 22)

In [48]:
UrbanPop = create_data('Data/Urban_Population.csv')
UrbanPop.shape

(261, 22)

In [54]:
PrimaryCompletion[(PrimaryCompletion.index.isin(GovExpend.index))].shape

(194, 22)